In [1]:
import pandas as pd

from apyori import apriori

In [2]:
base = pd.read_csv('../data/mercado2.csv', header=None)
base

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
transactions = []

for i in range(base.shape[0]):
    transactions.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [5]:
rules = apriori(transactions, min_support=0.003, min_confidence=0.2, min_lift=3, min_length=2)
results = list(rules)
len(results)

160

In [6]:
A = []
B = []
support = []
confidence = []
lift = []

for result in results:
    s = result[1]
    result_rules = result[2]
    for result_rule in result_rules:
        A.append(result_rule[0])
        B.append(result_rule[1])
        support.append(s)
        confidence.append(result_rule[2])
        lift.append(result_rule[3])

In [7]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'support': support, 'confidence': confidence, 'lift': lift})
rules_df.sort_values(by='lift', ascending=False)

,A,B,support,confidence,lift
344,"(soup, frozen vegetables)","(mineral water, nan, milk)",0.003066,0.383333,7.987176
177,"(soup, frozen vegetables)","(mineral water, milk)",0.003066,0.383333,7.987176
349,"(soup, nan, frozen vegetables)","(mineral water, milk)",0.003066,0.383333,7.987176
173,"(olive oil, frozen vegetables)","(mineral water, milk)",0.003333,0.294118,6.128268
339,"(olive oil, nan, frozen vegetables)","(mineral water, milk)",0.003333,0.294118,6.128268
...,...,...,...,...,...
238,"(ground beef, nan, shrimp)",(spaghetti),0.005999,0.523256,3.005315
67,"(ground beef, shrimp)",(spaghetti),0.005999,0.523256,3.005315
198,"(mineral water, frozen vegetables, tomatoes)",(spaghetti),0.003066,0.522727,3.002280
368,"(nan, mineral water, frozen vegetables, tomatoes)",(spaghetti),0.003066,0.522727,3.002280
365,"(mineral water, frozen vegetables, tomatoes)","(spaghetti, nan)",0.003066,0.522727,3.002280